<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1;IE=edge">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="bookmark" href="{% static 'images/favicon.ico' %}">
    <!-- 取消移动端自动检测电话号码和email地址 -->
    <meta name="format-detection" content="telphone=no, email=no" />
    <meta name="author" contect="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />
    <!-- 禁止手机端百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}幸福记忆养护院{% endblock %}</title>
    <!-- build:css styles/optimized.min.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    {% block custom_css %}
    {% endblock %}
  </head><!-- head结束 -->
  <body>
    {% block content %}
    {% endblock %}

    <!-- 联系我们开始 -->
    <div class="section-contact" id="section-contact">
      <div class="sub_title" style="padding-top: 50px;">
        <div style="color: white;">联系我们<p class="border-bottom-title"></p></div>
      </div>
      <div class="details">
          {% block contacts %}
        <div class="contact_details">
          <ul>
            <li><img src="{% static 'images/phone.png' %}" alt=""><span>电话：010-65783914</span></li>
            <li><img src="{% static 'images/email.png' %}" alt=""><span>邮箱：prman@prman.com.cn</span></li>
            <li><img src="{% static 'images/location.png' %}" alt=""><span>地址：中国传媒大学·中国网络视频研究中心</span></li>
          </ul>
        </div>
        <div class="ercode_2">
          <a href="#"><img src="{% static 'images/code.png' %}" width="120em" alt=""></a>
        </div>
        <div class="ercode_3">
          <a href="#"><img src="{% static 'images/code.png' %}" width="120em" alt=""></a>
        </div>
          {% endblock %}
      </div>

      <div class="final">
        <div class="about_us">
          <a href="{% url 'article_detail' 53 %}" target="_blank">收费标准</a>
          <a href="https://mp.weixin.qq.com/s/rOb2rR1pw0UWDIExZKsZzg" target="_blank">关注我们</a>
        </div>
      </div>
    </div>
    <!-- 联系我们结束 -->

    <!-- 火箭 -->
    <div style="display: none;" id="rocket-to-top">
        <div style="opacity:0;display: block;" class="level-2"></div>
        <div class="level-3"></div>
    </div>

    <!-- build:js lib/lib.min.js -->
    {% block custom_js %}{% endblock %}
    <!-- endbuild -->

  </body>
</html>
