{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/response.css' %}">
{% endblock %}

{% block content %}
<!-- navbar开始 -->
<div class="navbar">
    <div class="header">
        <!-- logo开始 -->
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" width="100%" height="40px">
        </div>
        <!-- logo结束 -->
        <!-- menu开始 -->
        <div class="menu clearfix">
            <button id="showMenu" class="btn-menu"> <!-- 手机端使用到 -->
                <span></span>
            </button>
            <ul class="clearfix">
                <li class="selected"><a href="#section-home">首页</a><p class="border-bottom"></p></li>
                <li><a href="#section-services">我们的服务</a><p class="border-bottom" style="display: none"></p></li>
                <li><a href="#section-cases">日常资讯</a><p class="border-bottom" style="display: none"></p></li>
                <li><a href="javascript:void(0);">关于我们</a><p class="border-bottom" style="display: none"></p>
                    <div class="drop-menu">
                        <p><a href="{% url 'article_detail' 52 %}">幸福记忆养护院</a></p>
                        <p><a href="{% url 'article_detail' 53 %}">加入我们</a></p>
                        <p><a href="{% url 'article_detail' 54 %}">联系我们</a></p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- menu结束 -->
        <!-- 搜索框开始 -->
        <div class="search">
            <div class="search_box">
                <form action="" method="post">
                    <input type="text" class="search_text">
                    <a href="#"><img src="{% static 'images/search.jpg' %}" alt="" class="search-btn"></a>
                </form>
            </div>
        </div>
        <!-- 搜索框结束 -->
        <!-- 二维码开始 -->
        <div class="wechat">
            <a href="https://mp.weixin.qq.com/s/rOb2rR1pw0UWDIExZKsZzg" target="_blank"><img src="{% static 'images/wechat.png' %}" alt=""></a>
        </div>
        <!-- 二维码结束 -->
    </div>
</div>
<!-- navbar结束 -->

<!-- 轮播图开始 -->
<div class="section-home clearfix" id="section-home">
    <ul class="mySlideshow">
        {% for banner in banners %}
        <li>
            <a href="{{ banner.url }}" target="_blank"><img src="{{ MEDIA_URL }}{{ banner.image }}" width="100%" height="500"></a>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- 轮播图结束 -->

<!-- 我们的服务开始 -->
<div class="sanitary_towel">
    <div class="section-services" id="section-services">
        <div class="sub_title pure-u-1-1" style="margin-bottom: 15px;">
            <div style="color: white;">我们的服务<p id="sanitary_towel_border" class="border-bottom-title"></p></div>
        </div>
        <article class="shade">
            <div class="media_spread pure-u-sm-1-3">
                <img src="{{ MEDIA_URL }}{{ our_services.0.image }}" alt="">
            </div>
            <div class="content-wrap">
              <span class="entry-title"><a href="" class="featured-image">
                  包括广告代理（电视媒体、广播、户外媒体、报纸DM宣传单广告代理推广）与物料制作（微电影、纪录片、宣传片的拍摄与制作；媒体宣传物料设计与制作）
              </a></span>
            </div>
        </article>
        <article class="shade">
            <div class="media_spread pure-u-sm-1-3">
                <img src="{{ MEDIA_URL }}{{ our_services.1.image }}" alt="">
            </div>
            <div class="content-wrap">
              <span class="entry-title"><a href="" class="featured-image">
                  提供精准化的营销闭环服务（新媒体整合营销、现象级事件营销、话题营销、H5 营销、原生广告（手绘漫画 与海报）、病毒视频、微电影、emoji、综艺影视植入、跨界整合营销等）与社交媒体托管服务（微博微信官微形象定位及视觉设计、官微语言风格体系定位、KOL推广）
              </a></span>
            </div>
        </article>
        <article class="shade">
            <div class="media_spread pure-u-sm-1-3">
                <img src="{{ MEDIA_URL }}{{ our_services.2.image }}" alt="">
            </div>
            <div class="content-wrap">
              <span class="entry-title"><a href="" class="featured-image">
                  包括高峰论坛、会展服务、品牌路演、新品发布、新闻发布会、演出服务、政府公关等活动的策划与执行
              </a></span>
            </div>
        </article>
    </div>
</div>
<!-- 我们的服务结束 -->

<!-- 内容开始 -->
<div class="content">

    <!-- 我们的案例开始 -->
    <div class="section-cases" id="section-cases">
        <div class="sub_title">
            <div>日常资讯<p class="border-bottom-title"></p></div>
        </div>
        <table class="cases">
            {% for case in our_cases %}
                {% if forloop.counter == 1 %}<tr>{% endif %}
                    {% if forloop.counter >= 1 and forloop.counter <= 5 %}
                    <td><a href="{% url 'article_detail' case.id %}"><img src="{{ MEDIA_URL }}{{ case.image }}" alt=""></a></td>
                    {% endif %}
                {% if forloop.counter == 5 %}</tr>{% endif %}

                {% if forloop.counter == 6 %}<tr>{% endif %}
                    {% if forloop.counter >= 6 and forloop.counter <= 10 %}
                    <td><a href="{% url 'article_detail' case.id %}"><img src="{{ MEDIA_URL }}{{ case.image }}" alt=""></a></td>
                    {% endif %}
                {% if forloop.counter == 10 %}</tr>{% endif %}

                {% if forloop.counter == 11 %}<tr>{% endif %}
                    {% if forloop.counter >= 11 and forloop.counter <= 15 %}
                    <td><a href="{% url 'article_detail' case.id %}"><img src="{{ MEDIA_URL }}{{ case.image }}" alt=""></a></td>
                    {% endif %}
                {% if forloop.counter == 15 %}</tr>{% endif %}

                {% if forloop.counter == 16 %}<tr>{% endif %}
                    {% if forloop.counter >= 16 and forloop.counter <= 20 %}
                    <td><a href="{% url 'article_detail' case.id %}"><img src="{{ MEDIA_URL }}{{ case.image }}" alt=""></a></td>
                    {% endif %}
                {% if forloop.counter == 20 %}</tr>{% endif %}
            {% endfor %}
        </table>
        <h3 class="more"><a style="text-decoration: none;" href="javascript:void(0);">MORE&gt;&gt;</a></h3>
        <br style="clear: both;">
    </div>
    <!-- 我们的案例结束 -->

    <!-- 战略平台开始 -->
    <div class="section-platforms pure-g" id="section-platforms">
        <div class="sub_title pure-u-1-1">
            <div>战略同盟<p class="border-bottom-title"></p></div>
        </div>
        {% for platform in our_platforms %}
            <div class="{% cycle 'media_spread' 'media_marketing' 'marketing_plan' %} pure-u-sm-1-3">
                <a href="{{ platform.url }}" target="_blank"><img src="{{ MEDIA_URL }}{{ platform.image }}" alt=""></a>
            </div>
        {% endfor %}
    </div>
    <!-- 战略平台结束 -->

</div>
<!-- 内容结束 -->

{% endblock %}

{% block contacts %}
    <div class="contact_details">
      <ul>
        {% for contact in our_contacts %}
            {% if forloop.counter == 1 %}
                <li><img src="{% static 'images/phone.png' %}" alt=""><span>
                    {{ contact.title }}：{{contact.desc}}
                </span></li>
            {% endif %}
            {% if forloop.counter == 2 %}
                <li><img src="{% static 'images/email.png' %}" alt=""><span>
                    {{ contact.title }}：{{contact.desc}}
                </span></li>
            {% endif %}
            {% if forloop.counter == 3 %}
                <li><img src="{% static 'images/location.png' %}" alt=""><span>
                    {{ contact.title }}：{{contact.desc}}
                </span></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>

    {% for contact in our_contacts %}
        {% if forloop.counter == 4 %}
            <div class="ercode_2">
              <img src="{{ MEDIA_URL }}{{ contact.image }}" width="120em" alt="">
              <p class="ercode_title">微信号</p>
            </div>
        {% endif %}
        {% if forloop.counter == 5 %}
            <div class="ercode_2">
              <img src="{{ MEDIA_URL }}{{ contact.image }}" width="120em" alt="">
              <p class="ercode_title">头条号</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lazyload.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}